html {
    box-sizing: border-box;
}

html, body {
    flex: 1;
    min-height: 100%;

    margin: 0;
    padding: 0;
    overflow-x: hidden;

    font-family: sans-serif;
    font-size: 14px;

    background: white;

    display: flex;
    flex-flow: column;
}

#root {
    flex: 1;

    display: flex;
    flex-flow: column;
}

*, *:before, *:after {
    box-sizing: inherit;
}
